html {
    height: 100%;
}

body {
    background: #7E7E7E;
    background-size: cover;
    height: calc(100vh - 80px);
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-container {
    padding-top: 80px;
}

.logo-img {
    height: 4rem;
    width: auto;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Carousel container */

.carousel {
    max-width: 1200px;
    height: auto;
    max-height: calc(100vh - 80px);
}

.carousel-item img {
    height: 60vh !important;
    overflow: hidden !important;
    max-height: calc(100vh - 80px);
    object-fit: cover;
}


.carousel-item {
    color: white;
    position: relative;
}

.carousel-caption {
    max-width: 80%;
    margin-right: 0;
    left: 0;
    right: 0;
}

.call-to-action {
    background: rgba(0, 0, 0, 0.5);
    width: fit-content;
    border: solid 2px #FF0100;
    border-radius: 5px;
}

/* ------------------------------ Buttons */

.sm-btn-red {
    width: fit-content;
}

.btn-red {
    background: #FF0100;
    color: white;
    border: solid 1px #000;
}

.btn-outline-red {
    background: white;
    color: #FF0100 !important;
    border: solid 1px #FF0100;
}

.btn-outline-red:hover,
.btn-outline-red:active,
.btn-outline-red:focus {
    background: #a70000;
    color: white !important;
}


.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #a70000;
    color: white;
}

a.category-badge > span.badge:hover {
    background: #a70000 !important;
    color: #fff !important;
}

.btt-btn {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 1.5rem;
}

.btt-link {
    cursor: pointer;
}

/* ------------------------------ Text */

.text-red {
    color: #FF0100 !important;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000 !important;
}

.border-red {
    border: 1px solid #FF0100 !important;
}

/* ------------------------------ Overlay */

.overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: -1;
}

/* ------------------------------ Products */

.product-img {
    height: 15rem;
    object-fit: contain;
}

.card-body {
    min-height: 68px;
}


/* ------------------------------ Media Queries */

/* XL screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

}

/* Large screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px !important;
    }

    .carousel {
        height: 698px !important;
        overflow: hidden !important;
        max-height: calc(100vh - 164px) !important;
    }

    .carousel-item {
        max-height: 698px;
    }

    .carousel-item img {
        height: 698px !important;
        overflow: hidden !important;
        max-height: calc(100vh - 164px) !important;
    }
}

/* Small screens */
@media (min-width: 576px) {

    .header-container {
        padding-top: 116px;
    }

    .carousel {
        max-height: calc(100vh - 116px);
        height: auto;
    }

    .carousel-item img {
        height: 60vh !important;
        overflow: hidden !important;
        max-height: calc(100vh - 116px);
    }
}

@media (min-width: 420px) {
    .list-inline-item a {
        padding: 8px 16px !important;
    }
}
