html {
    height: 100%;
}

body {
    background: #7E7E7E;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-container {
    padding-top: 80px;
}

.logo-img {
    height: 4rem;
    width: auto;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Carousel container */

.carousel {
    max-width: 1800px;
}

.carousel-item {
    height: auto;
    color: white;
    position: relative;
}

.carousel-caption {
    max-width: 80%;
}

.call-to-action {
    background: rgba(0, 0, 0, 0.5);
    width: fit-content;
    border: solid 2px #FF0100;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    text-align: left;
    left: 0;
    bottom: 0;
}

.cta-btn {
    background: #FF0100;
    color: white;
    border: solid 1px #000;
}

.sm-cta-btn {
    width: fit-content;
    position: absolute;
    text-align: left;
    left: 0;
    bottom: 0;
}

.btn-red {
    background: #FF0100;
    color: white;
}

.cta-btn:hover,
.cta-btn:active,
.cta-btn:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    border: #000;
    background: #a70000;
    color: white;
}

.text-red {
    color: #FF0100 !important;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000 !important;
}

.border-red {
    border: 1px solid #FF0100 !important;
}

/* Overlay */

.overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: -1;
}

.product-img {
    object-fit: cover;
    height: 12rem;
    overflow: hidden;
}


/* -------------------------------- Media Queries */

/* Very large container on xxl screens */
@media (min-width: 1800px) {

    .carousel-item {
        height: 62rem !important;
    }
    
    .carousel {
        margin-top: 1.5rem;
    }

}

/* Large container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .carousel-item {
        height: 52rem !important;
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px !important;
    }

    .carousel-item {
        height: 42rem !important;
    }
}

/* spaced top navbar only on small and up */
@media (min-width: 576px) {

    .header-container {
        padding-top: 116px;
    }
}

/* spaced top navbar only on small and up */
@media (min-width: 420px) {
    .list-inline-item a {
        padding: 8px 16px !important;
    }
}
