<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto ml-0 mr-0 mx-auto text-center">
        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        
        
        <!-- <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="building-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="building-link">
                
                    <a href="{% url 'products' %}?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name }}</a>
                
                <a href="{% url 'products' %}?category=bricks_blocks" class="dropdown-item">Bricks &amp; Blocks</a>
                <a href="{% url 'products' %}?category=cement_plaster" class="dropdown-item">Cement &amp; Plaster</a>
                <a href="{% url 'products' %}?category=sand_aggregates,bricks_blocks,cement_plaster" class="dropdown-item">All Building Materials</a>
            </div>
        </li> -->
        

        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="building-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Building Materials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="building-link">
                <a href="{% url 'products' %}?category=sand_aggregates" class="dropdown-item">Sand &amp; Aggregates</a>
                <a href="{% url 'products' %}?category=bricks_blocks" class="dropdown-item">Bricks &amp; Blocks</a>
                <a href="{% url 'products' %}?category=cement_plaster" class="dropdown-item">Cement &amp; Plaster</a>
                <a href="{% url 'products' %}?category=sand_aggregates,bricks_blocks,cement_plaster" class="dropdown-item">All Building Materials</a>
            </div>
        </li>

        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="timber-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Timber
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="timber-link">
                <a href="{% url 'products' %}?category=sawn_timber" class="dropdown-item">Sawn Timber</a>
                <a href="{% url 'products' %}?category=prepared_timber" class="dropdown-item">Prepared Timber</a>
                <a href="{% url 'products' %}?category=sheet_materials" class="dropdown-item">Sheet Materials</a>
                <a href="{% url 'products' %}?category=sawn_timber,prepared_timber,sheet_materials" class="dropdown-item">All Timber</a>
            </div>
        </li>

        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="roofing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Roofing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="roofing-link">
                <a href="{% url 'products' %}?category=slates_tiles" class="dropdown-item">Slates &amp; Tiles</a>
                <a href="{% url 'products' %}?category=guttering" class="dropdown-item">Guttering</a>
                <a href="{% url 'products' %}?category=lead_products" class="dropdown-item">Lead Products</a>
                <a href="{% url 'products' %}?category=slates_tiles,guttering,lead_products" class="dropdown-item">All Roofing</a>
            </div>
        </li>

        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="tools-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools-link">
                <a href="{% url 'products' %}?category=power_tools" class="dropdown-item">Power Tools</a>
                <a href="{% url 'products' %}?category=hand_tools" class="dropdown-item">Hand Tools</a>
                <a href="{% url 'products' %}?category=building_equipment" class="dropdown-item">Building Equipment</a>
                <a href="{% url 'products' %}?category=power_tools,hand_tools,building_equipment" class="dropdown-item">All Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown pl-4 pr-4">
            <a class="logo-font font-weight-bold nav-link text-black mx-auto" href="#" id="plumbing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plumbing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plumbing-link">
                <a href="{% url 'products' %}?category=copper-pipes" class="dropdown-item">Copper Pipes &amp; Fittings</a>
                <a href="{% url 'products' %}?category=plastic-pipes" class="dropdown-item">Plastic Pipes &amp; Fittings</a>
                <a href="{% url 'products' %}?category=brass-products" class="dropdown-item">Brass Products</a>
                <a href="{% url 'products' %}?category=copper-pipes,plastic-pipes,brass-products" class="dropdown-item">All Plumbing</a>
            </div>
        </li>
    </ul>
</div>